.background    { background: rgb(47, 222, 184);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(250, 99, 35); }
.wall          { background: rgb(136, 109, 161);   }
.floater	   { background: rgb(235, 252, 249); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}